h1 {
  font-size: clamp(24px, 2vw, 32px);
  text-align: center;
}

.optionsModal {
  position: fixed;
  display: flex;
  background-color: rgb(241, 241, 241);
  flex-direction: column;
  inset: 0px;
  width: clamp(200px, 50%, 1500px);
  height: clamp(600px, 4vw, 1200px);
  margin: auto;
  z-index: 1002;
  box-shadow: 5px 5px 5px rgb(143, 143, 143);
}

.warningModal {
  position: fixed;
  display: flex;
  background-color: rgb(241, 241, 241);
  flex-direction: column;
  inset: 0px;
  width: clamp(300px, 4vw, 1200px);
  height: clamp(300px, 4vw, 800px);
  margin: auto;
  z-index: 2000;
  box-shadow: 5px 5px 5px rgb(143, 143, 143);
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.radiusValue {
  display: flex;
  align-items: end;
  justify-content: center;
  padding: 10px;
}

hr {
  height: 1px;
  width: 95%;
  background-color: rgb(236, 236, 236);
}

.resetButtonArea {
  display: flex;
  flex: 1;
  align-items: end;
  justify-content: center;
  margin-bottom: 50px;
  gap: 50px;
}

.resetButton {
  background-color: rgb(211, 31, 31);
  color: white;
  width: clamp(100px, 30%, 1000px);
  height: 25px;
  font-size: clamp(16px, 1.5vw, 20px);
  border: 0;
}

mat-slider {
  width: 300px;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1001;
}

.footOrBike {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  margin-left: 20px;
  gap: 30px;
}

.footOrBike button {
  padding: 20px;
}

button {
  border: none;
  color: white;
  border-radius: 5px;
  background-color: rgb(172, 172, 172);
}

.cancel {
  background-color: rgb(33, 134, 33);
  padding: 10px;
  width: auto;
  height: 50px;
}

.confirm {
  background-color: rgb(201, 61, 61);
  padding: 10px;
  height: 50px;
}
