<div class="backdrop" (click)="clickedOutside()"></div>
<div class="optionsModal">
  <h2 class="title">Options</h2>
  <hr style="margin-bottom: -5px">
  <h4 class="title">Maximum radius</h4>
  <div class="radiusValue">
    <div>{{formatLabel(value)}}</div>
  </div>
  <div class="slider">
    <mat-slider [min]="min" [max]="max" [step]="step" (input)="newRadius(newRadius1.value)" showTickMarks>
      <input matSliderThumb [(ngModel)]="value" #newRadius1>
    </mat-slider>
  </div>
  <hr>
  <div class="resetButtonArea">
    <button class="resetButton" (click)="resetWarningVisibility()">Reset score</button>
  </div>
</div>

@if (resetWarningVisible) {
<div class="backdrop" style="z-index: 1999" (click)="resetWarningVisibility()"></div>
<div class="warningModal">
  <h3 class="title">Are you sure you want to reset your score?</h3>
  <hr>
  <div class="resetButtonArea" style="align-items: center; margin-bottom: 0;">
    <button class="cancel" (click)="resetWarningVisibility()">Cancel</button>
    <button class="confirm" (click)="resetScore()">Confirm</button>
  </div>
</div>
}